* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 100%;
  border: 6px solid red;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  border: 4px solid red;
  padding: 10px;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.sidebar {
  float: left;
  width: 22%;
  height: 100%;
}

.main {
  float: left;
  width: calc(78% - 12px);
  height: 100%;
  margin-left: 12px;
}

.row {
  margin-bottom: 12px;
  height: calc(33.333% - 8px);
}

.row:last-child {
  margin-bottom: 0;
}

.small {
  float: left;
  width: calc(25% - 9px);
  height: 100%;
  margin-right: 12px;
}

.row .small:last-child {
  margin-right: 0;
}

.col-left {
  float: left;
  width: calc(50% - 6px);
  height: 100%;
  margin-right: 12px;
}

.col-right {
  float: left;
  width: calc(50% - 6px);
  height: 100%;
}

.thin {
  height: calc(50% - 6px);
  margin-bottom: 12px;
}

.col-left .thin:last-child {
  margin-bottom: 0;
}

.tall {
  height: 100%;
}

.bottom-big {
  float: left;
  width: calc(60% - 6px);
  height: 100%;
  margin-right: 12px;
}

.bottom-small {
  float: left;
  width: calc(40% - 6px);
  height: 100%;
}

@media (max-width: 750px) {
  html, body {
    overflow: auto;
  }

  .frame {
    height: auto;
    min-height: 100%;
    position: relative;
  }

  .sidebar,
  .main,
  .small,
  .col-left,
  .col-right,
  .bottom-big,
  .bottom-small {
    float: none;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .sidebar {
    height: 140px;
    margin-bottom: 12px;
  }

  .row {
    height: auto;
  }

  .small,
  .thin,
  .tall,
  .bottom-big,
  .bottom-small {
    min-height: 110px;
    margin-bottom: 12px;
  }
}